#star-icon-default .ikonli-font-icon {
    -fx-icon-size: 32;
    -fx-icon-code: "far-star";
    -fx-icon-color: white;
}

#star-icon-clicked .ikonli-font-icon {
    -fx-icon-size: 32;
    -fx-icon-code: "fas-star";
    -fx-icon-color: #ffcc00;
}

#star-rating .ikonli-font-icon-default {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gray;
}

#star-rating .ikonli-font-icon-rated {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gold;
}

#star-rating .ikonli-font-icon-hover {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: cyan;
}

#star-rating .hbox {
    -fx-padding: 5px;
}

.hbox {
    -fx-background-color: -light-blue;
    -fx-border-color: -dark-blue;
    -fx-border-radius: 5;
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: -blue;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: -dark-blue;
}