#star-icon-default .ikonli-font-icon {
    -fx-icon-size: 32;
    -fx-icon-code: "far-star";
    -fx-icon-color: #000000;
}

#star-icon-clicked .ikonli-font-icon {
    -fx-icon-size: 32;
    -fx-icon-code: "fas-star";
    -fx-icon-color: #ffcc00;
}

#star-rating .ikonli-font-icon-default {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gray;
}

#star-rating .ikonli-font-icon-rated {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gold;
}

#star-rating .ikonli-font-icon-hover {
    -fx-icon-size: 24;
    -fx-icon-code: "fas-star";
    -fx-icon-color: cyan;
}

#star-rating .hbox {
    -fx-padding: 5px;
}

.hbox {
    -fx-background-color: #A8DADC;
    -fx-border-color: #1D3557;
    -fx-border-radius: 5;
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #457B9D;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #1D3557;
}