.form {
    -fx-padding: 20px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

.header {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}
