.book-cell-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.cell-form {
    -fx-padding: 0px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

.cell-form:hover {
    -fx-background-color: rgba(168, 218, 220, 0.3);
}

.ikonli-font-icon {
    -fx-icon-size: 14;
}

.ikonli-font-icon:hover {
    -fx-icon-size: 14;
}

.ikonli-font-icon-rated {
    -fx-icon-size: 14;
    -fx-icon-code: "fas-star";
    -fx-icon-color: goldenrod;
}

.ikonli-font-icon-default {
    -fx-icon-size: 14;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gray;
}