.book-cell-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.book-cell-button:hover {
    -fx-background-color: rgba(168, 218, 220, 0.3);
}