.nav-button:hover .ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
    -fx-icon-size: 14;
}

.nav-bar {
    -fx-background-color: -blue;
    -fx-padding: 5px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

.nav-button {
    -fx-background-color: #f8f9fa;
    -fx-text-fill: #000000;
    -fx-font-weight: 800; /* Semi-bold */
    -fx-padding: 7px 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: -dark-blue;
    -fx-text-fill: #ffffff;
}

.nav-button-active {
    -fx-background-color: -dark-blue;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 800;
    -fx-padding: 7px 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.nav-button-active .ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
    -fx-icon-size: 14;
}

.avatar-circle {
    -fx-stroke-width: 0;
}

.avatar-circle:hover {
    -fx-stroke-width: 1;
    -fx-stroke: -white;
    -fx-cursor: hand;
}

.search-input {
    -fx-background-color: #f8f9fa;
    -fx-text-fill: #212529;
    -fx-padding: 7px 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #f8f9fa;
    -fx-border-radius: 10px;
}

.search-bar {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 10px;
    -fx-border-color: #ced4da;
    -fx-border-radius: 10px;
}

.search-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.logout-button {
    -fx-background-color: #dc3545;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 7px 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: -dark-blue;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}