#card-view-enabled .ikonli-font-icon {
    -fx-icon-color: red;
    -fx-icon-size: 24;
    -fx-icon-code: "fas-th-large";
}

#compact-view-enabled .ikonli-font-icon {
    -fx-icon-color: red;
    -fx-icon-size: 24;
    -fx-icon-code: "fas-th-list";
}

#card-view-disabled .ikonli-font-icon {
    -fx-icon-color: gray;
    -fx-icon-size: 24;
    -fx-icon-code: "fas-th-large";
}

#compact-view-disabled .ikonli-font-icon {
    -fx-icon-color: gray;
    -fx-icon-size: 24;
    -fx-icon-code: "fas-th-list";
}

.form {
    /*-fx-padding: 20px;*/
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

.icon-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 5px 5px 5px 5px;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.view-button {
    -fx-background-radius: 0;
}

.view-button:disabled {
    -fx-opacity: 1;
}

.view-button:hover .ikonli-font-icon {
    -fx-icon-size: 24;
    -fx-cursor: hand;
}

