
#star-rating-review .ikonli-font-icon-default {
    -fx-icon-size: 14;
    -fx-icon-code: "fas-star";
    -fx-icon-color: gray;
}

#star-rating-review .ikonli-font-icon-rated {
    -fx-icon-size: 14;
    -fx-icon-code: "fas-star";
    -fx-icon-color: goldenrod;
}

.box {
    -fx-background-color: -light-blue;
    -fx-border-color: -dark-blue;
    -fx-border-radius: 5;
}